header {
  font-family: helvetica;
  color: #2fd062;
  background: #536878;
  padding: 10px;
  text-align: center;
}

nav {
  float: left;
  font-family: Helvetica;
  font-size: 12;
}

.info {
  background-color: #2fd062;
  display; block;
  border; 1px solid #181f24;
  border-radius: 15px;
  padding: 30px;
}

main {
  position: center;
  text-align: center;
  background: #e2eff0;
  padding: 10px;
  text-align: center;
  font-family: helvetica;
  font-size: 18px;
}

footer {
  background: #536878;
  color: #2fd062;
  padding: 30px;
  text-align: center;
  position: bottom;
}

span {
  font-style: italic;
  text-align: center;
  border-style: outset;
  border-color: #181f24;
  border-width: 5px;
}

.photo {
  width: 100%;
  margin: auto;
  -webkit-filter: hue-rotate(280deg);
}

.trash {
  -webkit-filter: invert(100%);
}

main p {
  box-shadow: 5px 5px 20px #181f24;
}

h1 {
  font-style: Helvetica;
  font-size: 80px;
}

ul {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 auto;

}